/* In your news.css */
#news {
  margin: 0 auto;
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}

.newsTitle {
  margin: 1rem 0;
  font-size: 3rem;
}

.newsDesc {
  font-weight: 300;
  font-size: 1rem;
  max-width: 45rem;
}

.articles {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next row */
  justify-content: center; /* Center the cards horizontally */
}

.project-card {
  width: calc(
    50% - 1rem
  ); /* 50% width for larger screens with a small margin between cards */
  margin: 0.5rem;
}

@media screen and (min-width: 768px) {
  .project-card {
    width: calc(
      33.33% - 1rem
    ); /* 33.33% width for larger screens with a small margin between cards */
  }
}
